#navbarTop {
  margin: 0px auto;
  margin-bottom: 10px;
  box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.2);
  height: 100%;
  transition: 0.3s;
}

.app-name-text-color-and-decoration {
  text-decoration: none;
  color: #067575;
}

a.app-name-text-color-and-decoration:hover {
  text-decoration: none;
  color: #067575;
  cursor: default;
}

.text-color-and-decoration {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a.active-text-color-and-decoration {
  text-decoration: none;
  color: #FF8B13;
  cursor: pointer;
}

a.active-text-color-and-decoration:hover {
  cursor: pointer;
  color: #FF8B13;
  font-size: large;
  transition: 0.3s;
}

a.active-text-color-and-decoration:focus {
  cursor: pointer;
  color: #FF8B13;
}

a.text-color-and-decoration:hover {
  cursor: pointer;
  color: #FF8B13;
  font-size: large;
  transition: 0.3s;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  cursor: pointer;
  color: #FF8B13;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
  background-color: #4285f4;
  width: fit-content;
  border: none;
  transition: 0.5s;
}

.content:hover {
  cursor: pointer;
  box-shadow: 0px 2px 4px 0 #91b8f8;
}

.google-icon {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 12px;
  background-color: white;
}

.google-button-text {
  color: white;
  font-size: small;
  padding-right: 12px;
}

@media (max-width:801px) {
  .nav-bar-div {
    display: flex;
    flex-direction: column;
  }

  #navbarScroll {
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-expand .navbar-nav-scroll {
    display: flex;
    flex-direction: column;
  }
}
