.admin-panel-item {
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    width: 90%;
    margin-bottom: 12px;
    margin-top: 12px;
    padding: 12px;
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    transition: 0.3s;
}

.enhanced-div {
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    transition: 0.3s;
    padding: 10px;
}