body, html {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Sriracha', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Sriracha', cursive;
  src: local('Sriracha'), url(./fonts/Sriracha-Regular.ttf) format('truetype');
}
